@using DotNet5CloudWeb.Controllers
@model  DotNet5CloudWeb.Models.QueryAlbumsModel
@{
    ViewBag.Title = "Query Albums";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm(nameof(AlbumController.QueryAlbums), "Album", FormMethod.Post)) {
    @Html.AntiForgeryToken();
    @:Pick album name:
    <select name="@nameof(Model.AlbumNameFilter)">
        <option>@AlbumController.NoFilterWord</option>
        @foreach (var album in Model.AlbumNames) {
            <option @(Model.AlbumNameFilter == album ? "selected" : "")>@album</option>
        }
    </select>
    @:&nbsp;
    <button type="submit">Get Details</button>
}
<hr />
<table width="80%">
    <tr>
        <th width="100">Artist</th>
        <th width="150">Album</th>
        <th width="100">Year</th>
        <th width="150">Label</th>
        <th width="100">Copies Sold</th>
        @if (Model.HasFilter) {
            <th>Lineup</th>
        }
    </tr>
    @foreach (var disc in Model.AlbumDetails) {
        <tr>
            <td>@disc.ArtistName</td>
            @if (disc.Album != null) {
                <td>@disc.Album.Name</td>
                <td>@disc.Album.Year</td>
                <td>@disc.Album.Label</td>
                <td>@disc.Album.CopiesSold.ToString("N0")</td>
            } else {
                <td colspan="4"></td>
            }
            @if (disc.Member != null) {
                <td>@disc.Member.First @disc.Member.Last: @disc.Member.Instrument</td>
            }
        </tr>
    }
</table>